<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bookstore List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Add a Book</h1>
	
	<form th:action="@{/savebook}" th:object="${book}" method="post">
		  	<label for="ftitle">Title :</label>
			<input type="text" id="fname" th:field="*{title}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="fauthor">Author :</label>
			<input type="text" id="fauthor" th:field="*{author}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="fyear">Year :</label>
			<input type="text" id="fyear" th:field="*{year}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="fisbn">ISBN :</label>
			<input type="text" id="fisbn" th:field="*{isbn}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="fprice">Price :</label>
			<input type="text" id="fprice" th:field="*{price}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save book"></input>
						
	
	</form>
	
</body>
</html>