<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
	<title>Bookstore List</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container-fluid">
	<h1>Editing Book</h1>
	<!-- in th:action we to the ID and then we need to go back to ../savebook -->
	<form th:action="@{../savebook}" th:object="${book}" method="POST">
		<div class="form-group">
		
			<label for="ftitle">Title :</label>
			<input type="text" class="form-control" id="fname" th:field="*{title}" />
		</div>
		<div class="form-group">
			<label for="fauthor">Author :</label>
			<input type="text"  class="form-control" id="fauthor" th:field="*{author}" />
		</div>
		<div class="form-group">
			<label for="fyear">Year :</label>
			<input type="text" class="form-control" id="fyear" th:field="*{year}" />
		</div>
		<div class="form-group">
			<label for="fisbn">ISBN :</label>
			<input type="text"  class="form-control" id="fisbn" th:field="*{isbn}" />
		</div>
		<div class="form-group">
			<label for="fprice">Price :</label>
			<input type="text" class="form-control" id="fprice" th:field="*{price}" />
		</div>
		<!-- Dropdown category List  -->
		<!--  
		<div class="form-group">
			<label for="fcategory">Category :</label>
			 <select id="fcategory" th:field="*{category}" class="form-control">
       			<option th:each="category : ${categorys}" 
       			th:value="${category.categoryid}" 
       			th:text="${category.name}"></option>
    		</select>		
		</div>
		-->
		<input class="btn btn-success" type="submit" value="Save book"></input>
						
	
	</form>
	
</div>
		
</body>
</html>